
.open{
    width: 50%;
    height: 50vh;
    position: fixed;
    background-color: whitesmoke;
    box-shadow: 1px 1px 3px grey;
    top: 0px;
    right: 0%;
    animation-name: open;
    animation-duration: 2s;
    z-index: 999;
}
@keyframes open {
    from{
        top: 0%;
        right: -100%;
        opacity: .7;
    }
    to{
        top: 0px;
        right: 0px;
        opacity: 1;
    }
}
.close{
    width: 50%;
    height: 50vh;
    position: fixed;
    top: 0px;
    right: -100%;
    opacity: 1;
}


